In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [11]:
df = pd.read_csv('ACUMULADOS vs DIAS.csv')

In [14]:
df

     dia  acumulados
0      1           1
1      2           1
2      3           2
3      4           8
4      5           9
..   ...         ...
164  165      282437
165  166      289100
166  167      294569
167  168      299126
168  169      305966

[169 rows x 2 columns]